/* body section */
body {
    background-color: #EEE3CB;
}


/* dark mode section */
.darkmode {
    position: absolute;
    width: 85px;
    height: 40px;
    border-radius: 45px;
    background: black;
    margin-left: 85%;
    margin-top: 20px;

}

.darkmode .ball {
    position: absolute;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;
}

#sun {
    font-size: 23px;
    color: #ffb200;
    position: absolute;
    margin-top: 10px;
    margin-left: 55px;
}

#moon {
    font-size: 23px;
    color: #fff;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}


/* start button section */
.startBtn {
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 175px 3%;
    background-color: #E94560;
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    border-color: #E94560;
}

.startBtn:hover {
    color: #E94560;
    background-color: #EEE3CB;
}


/* score section */
.score {
    position: absolute;
    width: 200px;
    height: 75px;
    background-color: #483838;
    margin: 90px 80%;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "Pacifico", sans-serif;
}

.score p {
    margin-left: -50px;
    margin-top: 10px;
}

/* title section */
.title {
    font-family: "Kalam", sans-serif;
    font-size: 80px;
    color: #ffb200;
    position: absolute;
    margin-left: 40px;
}

.title span {
    color: #E94560;
}



/* card section */
.flipscreen {
    width: 55%;
    height: 720px;
    background-color: #483838;
    margin-left: 22%;
    margin-top: 15px;
    border-radius: 20px;
    position: absolute;

}

.flipscreen .startScreen h1 {
    font-family: "Kalam", sans-serif;
    color: #fff;
    font-size: 70px;
    text-align: center;
}

.flipscreen .startScreen h2 {
    font-family: "Kalam", sans-serif;
    color: #ffb200;
    font-size: 100px;
    text-align: center;
    margin-top: -20px;
}

.flipscreen .startScreen h2 span {
    color: #E94560;
}

.flipscreen .startScreen p {
    font-family: "Kalam", sans-serif;

    color: #fff;
    font-size: 30px;
    text-align: center;
}

.flipscreen .cards {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;


}

.flipscreen .cards .card {
    width: 140px;
    height: 160px;
    margin-left: 60px;
    margin-top: 35px;
    border-radius: 10px;
    background-color: #FEF5AC;
}

.flipscreen .cards .card img {
    position: absolute;
    width: 90px;
    height: 110px;
    margin: 18px 22px;
}


.endScreen {
    font-family: "Pacifico", sans-serif;

    position: absolute;
    margin: -600px 20px;
    border-radius: 60px 0px 60px 0px;
    width: 800px;
    height: 600px;
    background-color: #E94560;
    opacity: 0.98;
}

.endScreen p {
    text-align: center;
    font-size: 80px;
    color: #fff;
}

.endScreen h1 {
    text-align: center;
    font-size: 55px;
    color: #fff;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }

}


@media (max-width: 500px) {
    .darkmode {
        width: 23%;
        height: 38px;
        margin-left: 85%;
        margin-top: 10px;
    }

    .darkmode .ball {

        width: 30px;
        height: 30px;
        margin-top: 5px;
        margin-left: 5%;
    }

    #sun {
        font-size: 25px;
        margin-top: 8px;
        margin-left: 53px;
    }

    #moon {
        font-size: 25px;
        margin-left: 10px;
        margin-top: 8px;
    }


    .startBtn {
        width: 100px;
        height: 50px;
        margin: 650px 150px;
        font-size: 30px;
    }


    .score {
        width: 180px;
        height: 50px;
        margin: 60px 220px;
        font-size: 25px;
    }

    .score p {
        margin-left: 0px;
        margin-top: 0px;
    }

    .title {
        font-size: 60px;
        margin: 10px 10px;
    }

    .flipscreen {
        width: 400px;
        height: 500px;
        margin-left: 0%;
        margin-top: 130px;


    }

    .flipscreen .startScreen h1 {
        margin-top: 60px;
        font-size: 30px;
    }

    .flipscreen .startScreen h2 {
        font-size: 80px;
        margin-top: 60px;
    }

    .flipscreen .startScreen p {
        font-size: 21px;
    }

    .flipscreen .cards {
        width: 98%;
        height: 150px;

    }

    .flipscreen .cards .card {
        width: 120px;
        height: 120px;
        margin-left: 3%;
        margin-top: 15px;

    }

    .flipscreen .cards .card img {
        width: 55px;
        height: 78px;
    }

    .endScreen {
        margin: -450px 0px;
        width: 400px;
        height: 450px;
    }

    .endScreen p {
        font-size: 55px;
    }

    .endScreen h1 {
        font-size: 40px;
    }
}