body{
    background:#100720;
}

/* navbar section */
.navbar h1{
    color: #FFB200;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar h1 span{
    color: #fff;
}

/* container section */
.container{
    height: 400px;
    width:700px;
    background:#FFF4CF;
    opacity: 0.9;
    border-radius: 50px;
    margin-top: 80px;
}

.container .translate{
    width: 50px;
    height: 50px;
    margin-left: 485px;
    margin-top: 75px;
    font-size: 25px;
    background: #FFCB42;
    border-radius: 40px;
    border: #3FA796;
    position:absolute;
}

.container .exchangeBtn{
    width: 50px;
    height: 50px;
    margin-top: 180px;
    margin-left: 80px;
    font-size: 25px;
    background: #FFCB42;
    border-radius: 40px;
    border: #3FA796;
}
    

.container .screen{
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    
}
.container  .screen select{
    background-color: #FFCB42;
    width: 150px;
}
.container  .screen input{
    width: 400px;
}
.container  .screen button{
    background-color: #FFCB42;
}


