/* body section */
body{
    background: #E9DAC1;
    transition: all 0.3s linear;
}

body.dark {
    background-color: #292c35;
  }

/* navbar section */

.navbar{
    display:flex;
    justify-content:center;
    
}



/* title section */
.navbar .title-h1{
    color:  #A2242F;
    text-align: center;
    font-family: 'Rubik Dirt',sans-serif;
    font-size: 50px;
    font-weight: 500;
    align-items: center;

}
.navbar .title-h1 span{
    color: #56C6A9;
}
.github{
    position:absolute;
    margin-bottom: 20px;
}

/* dark mode section */

.navbar .darkmode{
    margin-top: 45px;
    margin-left:75%;
    position: absolute;
}

.navbar .darkmode .checkbox {
    opacity: 0;
    position: absolute;
}

.navbar .darkmode .label {
    width: 40px;
    height: 17px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}
.navbar .darkmode .ball{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.3s linear;
  }
  .navbar .darkmode .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  .navbar .darkmode .fa-moon {
    color: pink;
  }
  
  .navbar .darkmode .fa-sun {
    color: yellow;
  }

/* container section */
.container .row{
    width: 350px;
    height: 50px;
    margin-left: 584px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 13px;
}
.container .row .box{
    width: 48px;
    background:  #A2242F;
    height: 48px;
    border-radius: 8px;
    margin-top: 2px;
    border: #ff1d58;
    border-style: inset;
    border-right-width: 3px;
    border-bottom-width: 3px;
    color: #fff;
    text-align: center;
    font-family: "DynaPuff",sans-serif;
    font-size: 40px;
}


/* keyboard section */
.keyboard{
    width: 620px;
    background: #FFA500;
    height: 210px;
    margin-left: 450px;
    display:inline-block;
    margin-top: 18px;
    border-radius: 30px;
    border-width: 5px; 
    margin-top: 40px;
}
.keyboard .words{
    margin-top: 20px;
    display: flex;
    justify-content:center;
    
}
.keyboard .words .buttons{
    background:#282D3C;
    border-radius: 80%;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-family: "DynaPuff",sans-serif;
    margin-left: 14px;
    border: #55B4B0;
    border-width:2px;
}
.keyboard .words #del{
    background: #CD212A;
}
.keyboard .words #del:hover{
    background:#A09998;
}
.keyboard .words #ok{
    background: #006B54;
}
.keyboard .words #ok:hover{
    background:#A09998;
}
.keyboard .words .buttons:hover{
    background: #A09998;
    color: #fff;
    transition: all 0.3s ease;
}




/* enter page section */

.enterPage{
    margin-left: 30%;
    width: 600px;
    height: 550px;
    background:#256D85;
    font-family:"Permanent Marker",sans-serif;
    border-radius: 15px;
    position:absolute;
    color: #fff;
    opacity: 0.98;
}
.enterPage h1{
    margin-top: 45px;
    font-size: 50px;
    text-align: center;
    
}
.enterPage h2{
    margin-top: 0px;
    font-size: 50px;
    text-align: center;
    color: #E64848;
    
}
.enterPage p{
    font-size: 25px;
    text-align: center;
}
.enterPage h2 span{
    color: #56C6A9;
}
.enterPage .enterBtn{
    border: #7FB77E;
    margin-top: 25px;
    width: 120px;
    height: 60px;
    background: #7FB77E;
    color: #fff;
    font-family:"Permanent Marker",sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 40%;
    
}

.enterPage .enterBtn:hover{
    border: #7FB77E;
    background: #fff;
    color: #7FB77E;
}




/* game over section */
.endGame .gameOver{
    color: #fff;
    width: 600px;
    height: 550px;
    background:crimson;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family:"Permanent Marker",sans-serif;
    text-align: center;
    opacity: 0.98;
}

.endGame .gameBtn{
    width: 160px;
    height: 60px;
    background: #7FB77E;
    color: #fff;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:"Permanent Marker",sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
 
}
.endGame h1{
    font-size: 50px;
}
.endGame h2{
    font-size: 40px;
}

.endGame .gameBtn:hover{
    border: #fff;
    border-style:inset;
    background: #fff;
    color: #7FB77E;
}

/* media section */
@media (max-width: 1300px){

    .container .row {
        margin-left:32%;
    }
    .keyboard{
        margin-left:20%;
        
    }
    .enterPage{
        margin-left: 21%;
    }
    .github{
        margin-top: 20px;
    }
}
@media (max-width: 947px){
    .keyboard{
        height: 300px;
        width: 800px;
        margin-left: 8px;
    }
    .container .row {
        margin-left:32%;
    }
    .keyboard .words .buttons{
        width: 60px;
        height: 60px;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 5px;
    }
    .enterPage{
        margin-left: 18%;
    }
    
 
}


@media (max-width: 690px){
    .keyboard{
        height: 180px;
        width: 480px;
        margin-left: 10%;
    }
    .container .row {
        margin-left:20%;
    }
    .keyboard .words .buttons{
        width: 37px;
        height: 37px;
        font-size: 16px;
        margin-left: 10px;
    }
    .enterPage{
        margin-left: 15px;
    }
    .github{
        margin-top: 20px;
    }
}

@media (max-width: 500px){
    .keyboard{
        align-items: center;
        height: 180px;
        width: 480px;
        margin-left: 0px;
    }
    .container .row {
        margin-left:14%;
    }
    .keyboard .words .buttons{
        width: 37px;
        height: 37px;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 0px;
    }
    .enterPage{
        margin-left: 0px;
        width: 480px;
    }
    .github{
        margin-top: 150px;
    }
    .navbar .darkmode{
        margin-left: 100%;
    }
}

