body{
    background: #363945;
}
.title-h1{
    color:  #A2242F;
    text-align: center;
    font-family: 'Rubik Dirt',sans-serif;
    font-size: 50px;
    font-weight: 500;

}
.title-h1 span{
    color: #56C6A9;
}

/* container section */
.container .row{
    width: 350px;
    height: 50px;
    margin-left: 584px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 15px;
   
    
}
.container .row .box{
    width: 48px;
    background:  #A2242F;
    height: 48px;
    border-radius: 8px;
    margin-top: 2px;
    border: #ff1d58;
    border-style: inset;
    border-right-width: 3px;
    border-bottom-width: 3px;
    color: #fff;
    text-align: center;
    font-family: "DynaPuff",sans-serif;
    font-size: 40px;
    
}


/* keyboard section */
.keyboard{
    width: 620px;
    background: #FFA500;
    height: 210px;
    margin-left: 450px;
    display:inline-block;
    margin-top: 18px;
    border-radius: 30px;
    border-width: 5px; 
    margin-top: 40px;
}
.keyboard .words{
    margin-top: 20px;
    display: flex;
    justify-content:center;
    
}
.keyboard .words .buttons{
    background:#282D3C;
    border-radius: 80%;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-family: "DynaPuff",sans-serif;
    margin-left: 14px;
    border: #55B4B0;
    border-width:2px;
}
.keyboard .words #del{
    background: #CD212A;
}
.keyboard .words #del:hover{
    background:#A09998;
}
.keyboard .words #ok{
    background: #006B54;
}
.keyboard .words #ok:hover{
    background:#A09998;
}
.keyboard .words .buttons:hover{
    background: #A09998;
    color: #fff;
    transition: all 0.3s ease;
}




/* game over section */
.endGame .gameOver{
    padding-top:20px ;
    color: #fff;
    height: 75%;
    width: 620px;
    background:crimson;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family:"Permanent Marker",sans-serif;
    font-size: 50px;
    text-align: center;
}

.endGame .gameBtn{
    width: 180px;
    height: 80px;
    background: #363945;
    color: #fff;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:"Permanent Marker",sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
 
}
.endGame .gameBtn:hover{
    border: #fff;
    border-style:inset;
    background: #9A8B4F;
    color: #fff;
}

/* enter page section */

.enterPage{
    
    margin-top: 8%;
    margin-left: 30%;
    width: 600px;
    height: 500px;
    background:#FFA500;
    opacity: 0.9;
    font-family:"Permanent Marker",sans-serif;
    border-radius: 15px;
    position: fixed;
    color: #fff;
}
.enterPage h1{
    margin-top: 45px;
    font-size: 50px;
    text-align: center;
    
}
.enterPage h2{
    margin-top: 0px;
    font-size: 50px;
    text-align: center;
    color: #A2242F;
    
}
.enterPage p{
    font-size: 25px;
    text-align: center;
}
.enterPage h2 span{
    color: #56C6A9;
}
.enterPage .enterBtn{
    margin-top: 25px;
    width: 120px;
    height: 60px;
    background: #363945;
    color: #fff;
    font-family:"Permanent Marker",sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 40%;
}



.enterPage .enterBtn:hover{
    border: #fff;

    background: #9A8B4F;
    color: #fff;
}




/* media section */
@media (max-width: 1300px){

    .container .row {
        margin-left:32%;
    }
    .keyboard{
        margin-left:19%;
        
    }
    
}
@media (max-width: 947px){
    .keyboard{
        height: 190px;
        width: 500px;
        margin-left: 200px;
    }
    .container .row {
        margin-left:32%;
    }
    .keyboard .words .buttons{
        width: 40px;
        height: 40px;
        font-size: 18px;
        margin-left: 9px;
    }
}


@media (max-width: 690px){
    .keyboard{
        height: 180px;
        width: 480px;
        margin-left: 4%;
    }
    .container .row {
        margin-left:20%;
    }
    .keyboard .words .buttons{
        width: 37px;
        height: 37px;
        font-size: 16px;
        margin-left: 10px;
    }
}

@media (max-width: 500px){
    .keyboard{
        align-items: center;
        height: 180px;
        width: 480px;
        margin-left: 0px;
    }
    .container .row {
        margin-left:14%;
    }
    .keyboard .words .buttons{
        width: 37px;
        height: 37px;
        font-size: 16px;
        margin-left: 10px;
    }
}