body{
    background-color: #F3E0B5;
}

/* navbar section */
.navbar{

    height:90px;
    width: 52%;
    margin-left: 23%;
    border-radius: 10px;
    position: absolute;
    background-color: #1CD6CE;
    z-index: -1;
}
.navbar h1{
    
    text-align: center;
    color: #2B7A0B;
    font-size: 40px;
    font-family: "DynaPuff",sans-serif;
    margin-top: 20px;
    transform: scaleY(1.5);
    
}
.navbar h1 span{
    color: #111;
}
/* github section */
.github{
    
    position:absolute;
    margin-top: 45%;
}

/* darkmode section */
.darkmode {
    width: 100px;
    height: 50px;
    border-radius: 45px;
    background: black;
    margin-left: 84%;
    margin-top: 20px;
    position: absolute;
  }
  .darkmode .ball {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    cursor: pointer;
  }
  #sun {
    font-size: 30px;
    color: #ffb200;
    position: absolute;
    margin-top: 10px;
    margin-left: 58px;
  }
  #moon {
    font-size: 30px;
    color: #fff;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
  }
  



/* score section */
.score{
    margin-left: 20px;
    margin-top: 100px;
    width: 200px;
    height: 60px;
    background-color: #1CD6CE;
    position: absolute;
    display:flex;
    font-size: 22px;
    font-family: "DynaPuff",sans-serif;
    border-radius: 20px;
    
}
.score p{
    margin-top: 14px;
    margin-left: 10px;
}
.score .point{
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    
}
/* counter section */
.counter{
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: #1CD6CE;
    display:flex;
    position: absolute;
    font-size: 22px;
    font-family: "DynaPuff",sans-serif;
    border-radius: 20px;
    
}
.counter p{
    margin-top: 14px;
    margin-left: 10px;
}
.counter .time{
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    
}

/* start section */
.start .startGame{
    margin-left: 20px;
    margin-top: 250px;
    width: 200px;
    height: 60px;
    background-color: #1CD6CE;
    display:flex;
    position: absolute;
    font-size: 22px;
    font-family: "DynaPuff",sans-serif;
    border-radius: 20px;
    cursor: pointer;
    border: #1CD6CE;
}
.start .startGame p{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-left: 20px;
    color: #D61C4E;
}


/* container section */
.container{
    width: 800px;
    height: 510px;
    background: #FEDB39;
    position: absolute;
    margin-left: 23%;
    margin-top: 10%;
    border-radius: 95px;
    z-index: -1;
    
}

.container .screen{
    display:flex;
    justify-content: space-evenly;
    
}
.container .screen .hole{
    background: #111;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 70px;
    border-radius: 45px;
    box-shadow: 8px 8px 8px #A47E3B inset;
}
.container .screen .hole img{
    width: 110px;
    height: 110px;    
    position: absolute;
    margin-top: -35px;
    margin-left: -15px;
}

/* endgame section */

.endGame .gameOver{
    width: 800px;
    height: 510px;
    background-color: #D61C4E;
    margin-left: 23%;
    margin-top: 10%;
    position: absolute;
    opacity: 0.95;
    border-radius: 25px;
    font-family: "DynaPuff",sans-serif;
    color: #1CD6CE;
    text-align: center;


}
.endGame .gameOver p{
    font-size: 50px;
    margin-top: 20px;
}
.endGame .gameOver h1{
    font-size: 60px;
    margin-top: 40px; 
}
.endGame .gameOver button{
    font-family: "DynaPuff",sans-serif;
    width: 200px;
    height: 70px;
    background-color:#1CD6CE;
    border-radius: 20px;
    font-size: 35px;
    color: white;
    border: #1CD6CE;
    cursor: pointer;

}